@charset "utf-8";
/* CSS Document */
body{
	background-color: #FFFFFF;
	color: #000000;
	position: relative;
	height:80%;
	width: 90%;
}
p.rtl{
 	direction: rtl;
 }
nav{
	position: absolute;
	justify-content: space-between;
	height:30px;
	padding:1px;		
}
nav p{
	color: #0a4b78;
	font-family: tahoma;
	font-weight: bold; 
}
/* CSS for digi starts here */
.digi-library{
	display: flex;
	justify-content: space-between;
	column-gap: 10px;
	color: #0a4b78;
	font-family: tahoma;
	font-weight: bold; 
}
.digi-library h4,
.digi-library p{
	margin: 0px;
}
.top{
	font-weight: 400;
}

@import url(https://fonts.googleapis.com/css?family=Open+Sans);
.search{
	width: 100%;
	position: relative;
	display: flex;
	padding: -5px;
	margin: 5px 5px -35px -25px;
}
.searchTerm{
	width: 100%;
	border: 3px solid #0a4b78;
	border-radius: none;
	padding: 5px;
	height: 20px;
	border-radius: 5px 0 0 5px;
	outline: none;
	color: #9DBFAF;
}
.searchTerm:focus{
	color:#00B4CC;
}
.searchButton{
	width: 40px;
	height: 36px;
	border:1px solid #0a4b78;
	text-align: center;
	color: #fff;
	border-radius: 0 5px 5px 0;
	cursor: pointer;
	font-size: 20px;
}
/*Resize the wrap to see the search bar change!*/
.wrap{
	width: 30%;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}

button{
	height: 30px;
	width: 80px;
	background-color: #FFFFFF;
	border-top: thin solid #50575e;
	border-right: thin solid #50575e;
	border-left: thin solid #50575e;
	border-bottom: thin solid #50575e;
	color: #0a4b78;
	border-radius: 5px;
}

ul{
	list-style:none;
	text-align: justify;
}
a{
	text-decoration:none;
	color: #000000;
}
p a{
	color: #000000;
}

header{
	position: absolute;
	margin: 1px;
	padding: 70px 70px 70px 0px;
}

.questions button{
	width: 1150px;
	height: 50px;
	text-align: justify;
	background-color: #f0f0f1;
	border: none;
	color: #000000;
}

.cu p a{
	color: #4682B4;

}

footer{
	height: 40px;
	width: 1265px;
	margin: 683px -10px -10px -10px;
	padding: -15px ;
	position: absolute;
	background-color: #f0f0f1;
	text-align: center;
}
