@charset "utf-8";
/* CSS Document */
body{
	background-color: #FFFFFF;
	color: #000000;
	position: relative;
	height:100%;
	width: 90%;
}
p.rtl{
 	direction: rtl;
 }
nav{
	position: absolute;
	justify-content: space-between;
	height:30px;
	padding:1px;		
}
nav p{
	color: #0a4b78;
	font-family: tahoma;
	font-weight: bold; 
}
/* CSS for digi starts here */
.digi-library{
	display: flex;
	justify-content: space-between;
	column-gap: 10px;
	color: #0a4b78;
	font-family: tahoma;
	font-weight: bold; 
}
.digi-library h4,
.digi-library p{
	margin: 0px;
}
.top{
	font-weight: 400;
}
#search-text-input{
	height: 30px;
	width: 350px;
}
button{
	height: 30px;
	width: 80px;
	background-color: #FFFFFF;
	border-top: thin solid #50575e;
	border-right: thin solid #50575e;
	border-left: thin solid #50575e;
	border-bottom: thin solid #50575e;
	color: #0a4b78;
	border-radius: 5px;
}
header{
	position: absolute;
	

	padding: 100px;
	margin:60px;
	background-color: #FFFFFF;
	color: #000000;
	
	height: 100px;
	width: 1000px;
}
h5{  
	color: #0a4b78;
	text-align: center;
	font-weight: lighter ;
	font-family: tahoma;
	text-align: justify;	
}
ul{
	list-style:none;
	text-align: justify;
}
a{
	text-decoration:none;
	color: #000000;
}
p a{
	color: #000000;
}
.split {
height: 100%;
width: 50%;
position:absolute;
z-index: 1;
top: 0;
overflow-x: hidden;
padding-top: 100px;
position: fixed;

}
.left {
left: 0;
text-align: justify;

}
.right {
right: 0;
text-align: justify;

}


 h3{
 	text-align: justify;
 	color: #0a4b78;
 }
footer{
	height: 40px;
	width: 1235px;
	margin: 1050px 1050px 1050px 1050px;
	padding: 2.5px;
	position: absolute;
	background-color: #f0f0f1;
	text-align: center;

}