@charset "utf-8";
/* CSS Document */
body{
	background-color: #FFFFFF;
	color: #000000;
	position: relative;
	height:100%;
	width: 90%;
}
p.rtl{
 	direction: rtl;
 }
nav{
	position: fixed;
	justify-content: space-between;
	height:30px;
	padding:1px;

}
nav p{
	color: #0a4b78;
	font-family: tahoma;
	font-weight: bold; 
}
/* CSS for digi starts here */
.digi-library{
	display: flex;
	justify-content: space-between;
	column-gap: 10px;
	color: #0a4b78;
	font-family: tahoma;
	font-weight: bold; 
}
.digi-library h4,
.digi-library p{
	margin: 0px;
}
.top{
	font-weight: 400;
}
#search-text-input{
	height: 30px;
	width: 350px;
}
button{
	height: 30px;
	width: 80px;
	background-color: #FFFFFF;
	border-top: thin solid #50575e;
	border-right: thin solid #50575e;
	border-left: thin solid #50575e;
	border-bottom: thin solid #50575e;
	color: #0a4b78;
	border-radius: 5px;
}

header{
	position: absolute;
	margin: 1px;
	padding: 70px 70px 70px 0px;
}


h5{  
	color: #0a4b78;
	text-align: center;
	font-weight: lighter ;
	font-family: tahoma;
	text-align: justify;	
}
ul{
	list-style:none;
	text-align: justify;
}
a{
	text-decoration:none;
	color: #000000;
}
p a{
	color: #000000;
}
.split-left{
height: 100%;
width: 10%;
margin-left: 0px;
text-align: left;
z-index: 1;
top: 0;
overflow-x: hidden;
padding-right: 200px;
position: fixed;
margin: 1px;
padding: 70px 70px 70px 0px;
}
.left {
left: 0;
text-align: justify;

}
.right {
right: 0;
text-align: justify;

}
.split-right{
height: 100%;
width: 100%;
margin-left: 10px;
text-align: right;
padding-left: 150px;
position: relative;
justify-content: space-between;
text-align: justify;
}

 h3{
 	text-align: justify;
 	color: #0a4b78;
 }

footer{
	height: 40px;
	width: 1264px;
	margin: 35px -10px -10px -10px;
	padding: -15px ;
	position: absolute;
	background-color: #f0f0f1;
	text-align: center;
}
